/* Base HTML Styles */
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Rubik:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --brand: #4a4a48;
  --action: hsl(285, 8%, 62%);
  --white: #ffffff;
  --base-light: #aba5a5;
  --base-dark: #0d0711;
  --black: #111111;
  --crystal: #414343;
}
/* CSS Reset */

html {
  box-sizing: border-box;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  color: var(--crystal);
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
/* header */

header .mobile-header {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
height: 44px; width: 160px
}
.desktop-nav a {
  text-decoration: none;
  font-size: larger;
  color: var(--black);
}
  header .mobile-header .desktop-nav {
     display: inline-block;
   }
   header nav ul {
       display: flex;
       gap: 24px;
       margin-right: 16px;
   }

   /* articles */
   article {
   padding: 16px 16px;
   margin: 16px;
   border-radius: 12px;
   transition: all 0.3s ease;
 }

article:hover {
   filter: contrast(150%);
}

article .article-heading {
  display: flex;
  justify-content: flex-start;
}

article .icon {
   height: 96px;
   margin-left: 10px;
   margin-right: 10px;
 }
 
article .article-heading h2 {
   margin-bottom: 16px;
   color: var(--base-dark);
 }
 
article p {
   margin-bottom: 16px;
}

article a {
  color: var(--black);
}

div.article-title {
  display: flex;
  align-items: flex-end;
  gap: 16px;
}






/* CSS Frame */

.frame {
  width: 1000px;
  height: 1300px;
  border: 50px dashed goldenrod;
  background: salmon;
  padding: 50px 40px;
}

img {
  width: 100%;
  height: 100%;
}

